h2{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    padding: 10px;

}
p{
    background-color: chartreuse;
    color: black;
    text-align: justify;
}
div{
    border: 5px solid tomato;
    margin: 20px;
    border-radius: 25px;
}
ul{
    background-color: burlywood;
    font-size: 20px;
}